.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translate(0px, -50%);
    margin: auto 4rem;
    gap: 4rem;
}

.active .navbar-item {
    font-weight: bolder;
}

.active ::before {
    content: '>> '
}

.navbar-item {
    font-size: 1.1rem;
}

.navbar div {
    cursor: pointer;
}

.navbar div:hover p {
    font-weight: bold;
}


@media screen and (max-width: 820px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 1028px) {
    .navbar {
        margin: auto 1.5rem;
    }

    .navbar p {
        font-size: 1rem;
    }
}